/* reset */
button {
  all: unset;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
}

.CheckboxRoot {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border-radius: 4px;
  outline: 2px solid var(--color-light-100);
}

.CheckboxRoot:hover::after {
  content: '';

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 40px;
  height: 40px;

  background-color: var(--color-dark-500);
  border-radius: 50%;
}

.CheckboxRoot:focus::after {
  content: '';

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 40px;
  height: 40px;

  background-color: var(--color-dark-100);
  border-radius: 50%;
}

.CheckboxRootDisabled {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border-radius: 4px;
  outline: 2px solid var(--color-dark-100);
}

.CheckboxIndicator {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  color: var(--color-dark-900);

  background-color: var(--color-light-100);
}

.CheckboxIndicatorDisabled {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  color: var(--color-light-100);

  background-color: var(--color-dark-100);
}

.Label {
  padding-left: 15px;

  font: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
}

.LabelDisabled {
  padding-left: 15px;

  font: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);
}
