.wrapper {
  width: 80%;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.pagination {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.table {
  margin-top: 20px;
}
